<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Murdoch University </title>
    <link rel="icon" href="../image/logo.png"/>
    <link rel="stylesheet" href="../css/createForm.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../js/createForm.js"> </script>
    <script> 
       
       var UnitCode = "<%= UnitCode %>";
       var teachPeriod = "<%= teachPeriod %>";
       var titleEx = "<%= title %>";
       var unitEx = "<%= unit %>";
       var teachEx = "<%= teach %>";

       console.log(titleEx);
       console.log(unitEx);
       console.log(teachEx);

    
        function insertSelect()
        {
            var container = document.getElementById('optionCode');

            if(UnitCode =="nothing" && teachPeriod =="nothing")
            {
                var insertOption = `
                    <div class="unitCode">
                        <input type="text" placeholder="Enter Unit Code" name="unitCode" oninput= "checkSame()"  required />
                    </div>
                    <div class="teachPer">
                        <input type="text" placeholder="Enter teach period"name="teachPer" oninput= "checkSame()" required />
                    </div>`;

                container.innerHTML = insertOption;
            }
            else 
            {
           
                var insertOption = `
                    <div class="unitCode">
                        <select id="unitCode" name="unitCode" oninput="checkSame()" required >
                            <option value=""> Unit Code </option>   
                        </select>
                    </div>
                    <div class="teachPer">
                        <select id="teachPer" name="teachPer" oninput="checkSame()" required>
                            <option value=""> Teach Period</option>       
                        </select>
                    </div>`;

                container.innerHTML = insertOption;

                var unit = document.getElementById('unitCode');
                var teach = document.getElementById('teachPer');

                addOption(unit , UnitCode);
                addOption(teach , teachPeriod); 
            }
            datetime();
        }

    //add option 
    function addOption(id , data)
    {
        console.log(data.split(","))
	    for( var i = 0 ; i < data.split(",").length ; i++)
		{   
            id.options[id.options.length] = new Option(data.split(",")[i], data.split(",")[i]);
		}
    
    }

    // function set datetime
    function datetime()
    {
        var d = new Date();
        var month = d.getMonth() + 1;
        var date = d.getDate();
        if(month < 10)
        {
            month = "0" + month;
        }
        if(date < 10)
        {
            date = "0" + date;
        }
        current =  d.getFullYear()+"-"+ month +"-" + date;
       document.getElementById('submitDay').min = current;
    }

    var check;
    function checkSame()
    {
        var titleTemp = document.getElementById('titleName').value;
        var unitTemp = document.getElementById('unitCode').value;
        var teachTemp = document.getElementById('teachPer').value;

        var checkEx = false;
        if(titleEx != "" &&  unitEx != "" && teachEx != "")
        {
            for(var i = 0 ; i < titleEx.split(",").length ; i ++)
            {
                
                if(titleTemp == titleEx.split(",")[i] && unitTemp == unitEx.split(",")[i] &&  teachTemp  == teachEx.split(",")[i])
                {
                    checkEx = true;
                    console.log("Hello world");
                }
            }

            if(checkEx)
            {
                document.getElementById('titleName').style.color ="red";
                document.getElementById('warning').innerHTML="The title has already existed";
                document.getElementById('warning').style.paddingTop = "0.5%";
                document.getElementById('warning').style.paddingBottom = "1%";
                checkEx = false;
                check = false;
            }
            else 
            {
                check = true;
                document.getElementById('titleName').style.color ="black";
                document.getElementById('warning').innerHTML ="";
                document.getElementById('warning').style.paddingTop = "0";
                document.getElementById('warning').style.paddingBottom = "0";
            }
        }
        else 
        {
            check = true;
        }
    }

    function test()
    {
        if(check)
        {
            return true;
        }
        else 
        {
            alert("You have to change title !!!")
            return false;
        }
    }

    </script>
</head>
<body onload="insertSelect()"> 
    <div class="title">
        <div class="imgIcon">
            <a href="/UC"> <img src="../image/logo.svg"> </a>
        </div>
    </div>
   
    <div class="mainBackground">
        <div id="theLeftBackground">
            <div class="theOption">
                <div id="option"> <a href="/UC/upload">Upload File</a>  </div><hr>
                <div id="option"> <a href="/UC/fileUploaded">Student Lists Uploaded</a> </div><hr>
                <div id="option"> <a href="/UC/formCreated">List of Forms</a> </div><hr>
            </div>
        </div>
        <div id="theRightBackground"> 
            <div class="mainTitle">
                <label> Create Form </label>
            </div>  
            <div class="containerForm">
                <div class="containerInfor">
                    <form id="surveyForm"  action="/UC/CreateForm" method="POST" onsubmit="return checkQuestion() && test()" > 
                    <div class="containBase">
                        <div class="containTitle">
                            <div id="title">
                                 <input type="text" id="titleName" name="title" placeholder="Enter Form Title" oninput= "checkSame()"  required/>
                                 <div id="warning"> </div>   
                            </div>    
                        </div>
                        <div id="optionCode" >
                            
                        </div>
                        <div class="containDes">
                            <div id="describle">
                                <input type="date" id="submitDay" name="deadline" required>
                           </div>
                        </div>
                    </div>
                    <!--Question -->
                    <div class="containBase1">
                        <div id="containQuestion">

                        </div>
                    </div>
                    <!-- end of question -->
                </div>
            </div>  
          
            <div class="handleButton">
                <div class="button">
                    <div id="resetButton"> 
                        <button type="button" onclick="reset123()"> Reset </button>
                     </div>
                     <div id="createButton"> 
                        <button type="button" onclick="createNewQuestion()">Add New </button> 
                     </div>
                     <div id="submitButton"> 
                        <button type="submit">Submit </button> 
                     </div>
                </div>
            </div>
        </form>
        </div>        
    </div>
</body>
</html>