<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Murdoch University </title>
    <link rel="stylesheet" href="../css/editForm.css" />
    <link rel="icon" href="../image/logo.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>

         var questionString = "<%= question %>";
         console.log(questionString.split(',')[0]);

        //count Question 
        var countQuestion = 0;

        var countOption = 0;

        //check count
        var checkCount = 0;
        function displayOption()
        {
            datetime();
            var insertElement = document.getElementById('containQuestion');
            var eachQuestion = questionString.split(',');
            for(var i = 0 ; i < eachQuestion.length ; i++)
            {   
                var containQuestionID = "containerOfQuestion" + countQuestion;
            
                var content =
                    `<div id="`+containQuestionID+`">
                        <div class="question">
                            <div id="question`+countQuestion+`">
                                <input type"text" name="question" value="`+eachQuestion[i]+`"placeholder="Please enter question.." required>
                                <div class="removeQuestion">
                                     <button type="button" onclick="removeQuestion(\'`+containQuestionID+`\')"> <i class="fa fa-trash"></i> Remove Question </button>
                                </div>
                            </div>
                        </div>
                    </div>`;    

                insertElement.insertAdjacentHTML("beforeend", content);
                countQuestion++;
                checkCount++;
            }
            applyCss();
        }

        //handle add new question
        function addNewQuestion()
        {
            var insertElement = document.getElementById('containQuestion');
            var containQuestionID = "containerOfQuestion" + countQuestion;

            var content =
                    `<div id="`+containQuestionID+`">
                        <div class="question">
                            <div id="question`+countQuestion+`">
                                <input type"text" name="question" placeholder="Please enter question.." required>
                                <div class="removeQuestion">
                                     <button type="button" onclick="removeQuestion(\'`+containQuestionID+`\')" > <i class="fa fa-trash"></i> Remove Question </button>
                                </div>
                            </div>
                        </div>
                    </div>`;
            insertElement.insertAdjacentHTML("beforeend" , content);
            checkCount++;
            countQuestion++;
            applyCss();
        }

        //handle remove question 
        function removeQuestion(id)
        {
            document.getElementById(id).remove();
            checkCount--;
            applyCss();
        }
        //change css
       function applyCss()
        {
            //document.getElementsByClassName("theRightBackground").style.height ="auto";
            document.getElementById("theLeftBackground").style.height = document.getElementById("theRightBackground").offsetHeight;
            document.getElementById("theLeftBackground").style.backgroundColor="#e6e6e6";
        }

        //set min dead line
        function datetime()
        {
            var d = new Date();
            var month = d.getMonth() + 1;
            var date = d.getDate();
            if(month < 10)
            {
                month = "0" + month;
            }
            if(date < 10)
            {
                date = "0" + date;
            }
            current =  d.getFullYear()+"-"+ month +"-" + date;
            document.getElementById('submitDay').min = current;
        }

        function checkQuestion()
        {
            if(checkCount == 0)
            {
                alert("Your form did not have any question!!!!!!!");
                return false;
            }
            else 
            {
                alert("You have updated the form!!!!");
                return true;
            }
        }

        window.onload = function()
       {
           displayOption();
           datetime();
       }


    </script>
</head>
<body>
    <div class="title">
        <div class="imgIcon">
            <img src="../image/logo.svg"> 
        </div>
    </div>
   
    <div class="mainBackground">
        <div id="theLeftBackground">
            <div class="theOption">
                <div id="option"> <a href="/UC/upload">Upload File</a>  </div><hr>
                <div id="option"> <a href="/UC/fileUploaded">Student Lists Uploaded</a> </div><hr>
                <div id="option"> <a href="/UC/formCreated">List of Forms</a> </div><hr>
            </div>        
        </div>
        <div id="theRightBackground"> 
            <div class="mainTitle">
                <label> Edit Form </label>
            </div> 
            
            <div class="containerForm">
                <div class="containerInfor">
                    <form id="surveyForm"  action="/UC/EditForm" method="POST" onsubmit=" return checkQuestion()"> 
                        <div class="containTitle">
                            <div id="id" style="display: none;">
                                <input type="text" name="id" value="<%= id %>" readonly />
                           </div>  
                            <div id="title">
                                 <input type="text" name="title" value="<%= title %>" placeholder="Please enter title..." required />
                            </div>    
                            <div id="unitCode">
                                <input type="text" name="unitCode" value="<%= unitCode %>" placeholder="Please enter unit code..." required />
                           </div>    
                           <div id="teachPeriod">
                                <input type="text" name="teachPer" value="<%= teachPer %>" placeholder="Please enter teach period..."  required />
                           </div>
                            <div id="describle">
                                <input type="date" id="submitDay" value="<%= deadline %>"  name="deadline" required >
                            </div>
                       </div>     
                    <!--Question -->
                    <div class="containQuestion">
                        <div id="containQuestion">

                        </div>
                    </div>
                    <!-- end of question -->
                </div>
            </div>  
            
            <div class="handleButton">
                <div class="button">
                    <div id="resetButton"> 
                        <button type="button" onclick="addNewQuestion()"> New Question </button>
                     </div>
                     <div id="createButton"> 
                        <button type="submit"> Update </button> 
                     </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</body>
</html>