<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Murdoch University </title>
    <link rel="stylesheet" href="../css/fileUpload.css" />
    <link rel="icon" href="../image/logo.png"/>
  
    <script>
        var id = "<%= id %>";
        var date = "<%= date %>";
        var title = "<%= title %>";

        function display()
        {
            var contain = document.getElementById('contain');
            if(id =="nothing" && date =="nothing" && title =="nothing")
            {
                contain.innerHTML = `<p> There is not file uploaded!!!! </p>`;
            }
            else 
            {
                var content = `<table id="detail">
                        <tr> 
                            <th> Title </th>
                            <th id="upload"> Date upload </th>
                            <th> Action <th>
                        </tr>`;
                contain.innerHTML = content;
                for(var i = 0 ; i < id.split(',').length ; i++)
                {
                    var detail = `<tr> 
                        <td>   `+title.split(',')[i]+` </td> 
                        <td id="upload">`+date.split(',')[i]+`</td> 
                        <td> <form action="/UC/fileUploaded" method="POST"><input type="text" name="id" value="`+id.split(',')[i]+`" style="display : none"> <button type="submit"> Detail </button> </form> </td>
                        </tr>`;
                     document.getElementById('detail').insertAdjacentHTML("beforeend", detail);   
                }

                document.getElementById('detail').insertAdjacentHTML("beforeend", `</table>`);
            }
        }

        const  refresh =0;  
        
       
        window.onload = function()
        {
            display();
           
        
            //console.log(ab);
            (function()
                {
                if( window.localStorage )
                {
                    if( !localStorage.getItem('firstLoad') )
                    {
                    localStorage['firstLoad'] = true;
                    window.location.reload();
                    }  
                    else
                    localStorage.removeItem('firstLoad');
                }
                })();

        }
     
       
    </script>
</head>

<Body  >
    <div class="title">
        <div class="imgIcon">
            <a href="/UC"> <img src="../image/logo.svg"> </a>
        </div>
    </div>
   
    <div class="mainBackground">
        <div class="theLeftBackground">
            <div class="theOption">
                <div id="option"> <a href="/UC/upload">Upload File</a>  </div><hr>
                <div id="option"> <a href="/UC/fileUploaded">Student Lists Uploaded</a> </div><hr>
                <div id="option"> <a href="/UC/formCreated">List of Forms</a> </div><hr>
            </div>
        </div>
        <div class="theRightBackground"> 
            <p>Student Lists</p>
            <div class="decor">
                <div id="contain"> </div>
            </div>
        </div>
    </div>
</body>
</html>