* {
    box-sizing: border-box;
  }
.title
{
    position: sticky;
	top : 0px;
    width : 100%;   
    background-color: #1a1a1a;
    
}
.imgIcon img
{
    float : left;
    width : 15%;
    height: 9.8%;

}

.imgIcon img:hover
{
    background-color: red;
}

.title::after {
    content: "";
    clear: both;
    display: table;
  }

.mainBackground
{
    background-color: #e6e6e6;
    height : 100%;
    width : 100%;
}
.theLeftBackground
{
    float : left;
    width : 12%;
    height: 100%;
    border-right: 2px solid  #404040;
}

.theOption
{
    font-size : 20px;
    position: sticky;
    top : 80px;
}

.theOption a
{
    color : #1a1a1a;
    text-decoration: none;
}

.theOption a:hover
{
    color : #ff1a1a;
}

#option
{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
}

#linkToForm
{
    text-align: center;
    padding-top: 5%;
    font-style:italic;
}

.theRightBackground
{
    width : 88%;
    float : left;
    font-size : 50px;
    font-weight: bold;
    text-align: center;
}

.decor
{
    width : 90%;
    margin-top : 5%;
    margin-left : auto;
    margin-right: auto;
}

.decor p
{
    font-size: 25px;
    
}
table 
{
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

table td 
{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 18px;
    text-align: center;
    padding-left: 1%;
    border-top: 2px solid #1a1919;    
}

table th
{
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #1a1919;
    text-align: left;
    padding-left: 1%;
    text-align: center;
    color: white;
}


table  button
{
    background-color: white;
    font-size: 25px ;
    border : none;
    color : blue;
    outline : none;
    text-decoration: underline;
}

table  button:hover
{
    color : red;    
}

.email
{
   display: block;
   margin-left: auto;
   margin-left: auto;
   border-top: 1px solid #1a1919;  
}

button
{
    margin-top : 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #e6e6e6;
}

button:hover
{
    background-color: white;
    color: #1a1a1a;
}



