* {
    box-sizing: border-box;
  }
.title
{
    position: sticky;
	top : 0px;
    width : 100%;   
    background-color: #1a1a1a;
}
.imgIcon img
{
    float : left;
    width : 15%;
    height: 9.8%;

}

.imgIcon img:hover
{
    background-color: red;
}

.title::after {
    content: "";
    clear: both;
    display: table;
}

.mainBackground
{
    background-color: #e6e6e6;
    height : 100%;
    width : 100%;
}
.theLeftBackground
{
    float : left;
    width : 12%;
    height: 100%;
    border-right: 2px solid  #404040;
}

.theOption
{
    font-size : 20px;
    position: sticky;
    top : 80px;
}

.theOption a
{
    color : #1a1a1a;
    text-decoration: none;
}

.theOption a:hover
{
    color : #ff1a1a;
}

#option
{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
}

#linkToForm
{
    text-align: center;
    padding-top : 5%;
    font-style:italic;
}

.theRightBackground
{
    width : 88%;
    float : left;
}

.theRightBackground p
{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top : 1%;
}

.containDetailForm
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 90%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

table th
{
    font-size: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #1a1919;
    text-align: left;
    padding-left: 2%;
    color: white;
}

table td 
{

    font-size: 25px;
    text-align: left;
    padding-left: 2%;
    border-top: 2px solid #1a1919;
}

table button
{
    background-color: white;
    font-size: 25px ;
    border : none;
    color : red;
    outline : none;
    text-decoration: underline;
}

table button:hover
{
    color : grey;
}

#download
{
    padding-left : 1%;
}

#download:hover
{
    color : red;
}

#demo
{
    border-right : 5px solid black;
    padding-right : 20px;
}
table form
{
    padding-top : 8%;
}

#info
{
    padding-top: 8%;
}








