* {
    box-sizing: border-box;
  }
.title
{
    position: sticky;
	top : 0px;
    width : 100%;   
    background-color: #1a1a1a;
}
.imgIcon img
{
    float : left;
    width : 15%;
    height: 9.8%;
}

.imgIcon img:hover
{
    background-color: red;
}

.title::after {
    content: "";
    clear: both;
    display: table;
}

.container
{
    border : 1px solid #e6e6e6;
    background-color: #e6e6e6 ;
    height : auto;
    padding-top: 5%;
}

.box
{
    width : 60%;
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

.box::after {
    content: "";
    clear: both;
    display: table;
}

.row 
{
    float : left;
    width : 30%;
}

.col
{
    float : left;
    width : 70%;
}

.col input[type=text]
{
    width : 100%;
    font-size : 25px;
    border-bottom-color: #e6e6e6;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    outline : none;
    border-radius: 3px;
    padding-left : 1%;
}

.box button
{
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: #66ff66;
    width : 30%;
}

.col label
{
    font-size : 20px;
}

.box .row1
{
   width : 100%;
    text-align: center;
}

.Opinion 
{
    width: 60%;
    display : block;
    margin-left: auto;
    margin-right: auto;
}

.Opinion label
{
    text-align: center;
    width: 20%;
    float: left;
}

.Opinion input[type=radio]
{
    width: 18.7%;
    float: left;
}

