* {
    box-sizing: border-box;
  }
.title
{
    position: sticky;
	top : 0px;
    width : 100%;   
    background-color: #1a1a1a;
}
.imgIcon img
{
    float : left;
    width : 15%;
    height: 9.8%;

}

.imgIcon img:hover
{
    background-color: red;
}

.title::after {
    content: "";
    clear: both;
    display: table;
}

.mainBackground
{
    background-color: #e6e6e6;
    height : 100%;
    width : 100%;
}
.theLeftBackground
{
    float : left;
    width : 12%;
    height: 100%;
    border-right: 2px solid  #404040;
}

.theOption
{
    font-size : 20px;
    position: sticky;
    top : 80px;
}

.theOption a
{
    color : #1a1a1a;
    text-decoration: none;
}

.theOption a:hover
{
    color : #ff1a1a;
}

#option
{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 4%;
    /*font-family:courier,arial,helvetica;
    /*font-style:italic;*/
}

#linkToForm
{
    text-align: center;
    padding-top: 5%;
    font-style:italic;
}

.theRightBackground
{
    width : 88%;
    float : left;
}

.theRightBackground p
{
    width : 95%;
    font-size : 30px;
    padding-left: 2%;
    text-indent: 20px;
}